#fixedText {
position: fixed;
top: 5vh;
right: 5vw;
z-index: 999;
background-color: blue;
color: white;
padding: 10px;
border-radius: 5px;
font-size: 2vw;
max-width: 90%; }
	
body {
margin: 0;
display: flex;
justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;	
background-color: #000000; }
	
form {
text-align: center; }
#svg-container {
width: 100vw;
height: 100vh;
overflow: auto;
touch-action: pinch-zoom; }

.container {
  position: relative; /* Establece posición relativa */
}	
	
#gameCanvas {
top: 0;
left: 0;
width: 0;
position: absolute;
display: none; }
	
#hexagonGroup {
top: 0;
left: 0;
width: 100vw;
height: 100vh;	
position: absolute;
z-index: 1;
display: none; }
	
#firstP {
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #CCFF00;
position: absolute;
z-index: 1;
display: none; }
	
#bluePoint { display: none; }

#cameraOptions {
  color: white;
  font-weight: bold;
}

#cameraOptions span {
  color: white;
  font-weight: bold;
}

#submitButton {
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 16px;
  background-color: #04135a; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Quita el borde */
  border-radius: 5px; /* Añade bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */

}

/* Estilo para el botón cuando se pasa el cursor sobre él */
#submitButton:hover {
  background-color: #2f2c79; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}	

#customPlayer {
  padding: 10px 20px; /* Ajusta el relleno según sea necesario */
  font-size: 16px;
  background-color: #cb9800; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Quita el borde */
  border-radius: 5px; /* Añade bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */

}

/* Estilo para el botón cuando se pasa el cursor sobre él */
#customPlayer:hover {
  background-color: #ac9f41; /* Cambia el color de fondo al pasar el cursor */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}


	    #playerName {

		      box-sizing: border-box; /* incluye el padding en el cálculo del tamaño total */
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 18px;
		    height: 40px;
		      text-align: center; /* centra el texto */

}

/* Estilo para el placeholder */
#playerName::placeholder {
	  text-align: center; /* centra el texto del placeholder */

  color: #aaa;
}

/* Estilo para el placeholder cuando se enfoca el campo de entrada */
#playerName:focus::placeholder {
  color: #333;
}
