#fixedText {
position: fixed;
top: 5vh;
right: 5vw;
z-index: 999;
background-color: blue;
color: white;
padding: 10px;
border-radius: 5px;
font-size: 2vw;
max-width: 90%; }
	
body {
margin: 0;
display: flex;
background-color: #000000; }
	
form {
text-align: center; }
#svg-container {
width: 100vw;
height: 100vh;
overflow: auto;
touch-action: pinch-zoom; }
	
#gameCanvas {
top: 0;
left: 0;
width: 0;
position: absolute;
display: none; }
	
#hexagonGroup {
top: 0;
left: 0;
width: 100vw;
height: 100vh;	
position: absolute;
z-index: 1;
display: none; }
	
#firstP {
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #CCFF00;
position: absolute;
z-index: 1;
display: none; }
	
#bluePoint { display: none; }

#cameraOptions {
  color: white;
  font-weight: bold;
}

#cameraOptions span {
  color: white;
  font-weight: bold;
}
