body {
margin: 0;
display: flex;
overflow: hidden;	
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
height: 100vh;	
background-color: #000000; 
position: relative; /* Establece el contexto de posición para los elementos secundarios */
}
h2 {
font-size: 2em; /* Tamaño de fuente grande */
font-weight: bold; /* Texto en negrita */
color: #ff5733; /* Color naranja */
text-shadow: 2px 2px 6px rgba(0, 0, 255, 0.5); /* Sombra de texto azul */
}
h3 {
font-size: 2em; /* Tamaño de fuente grande */
font-weight: bold; /* Texto en negrita */
color: #ff5733; /* Color naranja */
text-shadow: #00008b   ; /* Sombra de texto azul */
}

p {
font-size: 1.5em; /* Tamaño de fuente grande */
font-style: italic; /* Texto en cursiva */
color: #ffffff; /* Color blanco */
text-shadow: 1px 1px 4px rgba(0, 0, 255, 0.7); /* Sombra de texto azul */
}
.no-select {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}	



/* ///////////// SKIN RANDOM BALLS  ////////////////// */
/* ///////////// SKIN RANDOM BALLS  ////////////////// */
/* ///////////// SKIN RANDOM BALLS  ////////////////// */
/* ///////////// SKIN RANDOM BALLS  ////////////////// */

#selectSkin {

border-radius: 20px;
background-color: red;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
z-index: 999;
}

#selectedSkin {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 10px;
width: 100%;
max-height: 300px;
overflow-y: auto;
}

.skin {

border-radius: 20px;
    width: 70px;
    height: 70px;
padding: 10px;
/* padding-top: 100%; Esto asegura que los recuadros sean cuadrados */
background-color: white;
border: 1px solid black;
box-sizing: border-box;

  display: flex;
    align-items: center;
    justify-content: center;


position: relative;
}

.skin.selected {
background-color: gray;
}


#skinButtons {
            display: flex;
            justify-content: space-between;
            gap: 10px;
 margin-top: 10px;
width: 100%;


        }
        #skinButtons button {
            flex: 1;
        }
        #skinButtons button:first-child {
            margin-right: 5px;
        }
        #skinButtons button:last-child {
            margin-left: 5px;
        }


#closeSkin, #skinButton {


}


#paintSkin{
padding: 10px 20px; 
font-size: 16px;
background-color: #3CB371; 
color: white;
border: none; 
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
flex: 1;

margin-bottom: 10px;

}
#paintSkin:hover {
background-color: #3CB371;
box-shadow: 0px 6px 12px

}

#selectSkin h3 {
    margin-top: 0;
    margin-bottom: 20px; /* Puedes ajustar este margen según necesites */
}



	
/* ///////////// GAME CANVAS JUEGO ADENTRO  ////////////////// */
/* ///////////// GAME CANVAS JUEGO ADENTRO  ////////////////// */
/* ///////////// GAME CANVAS JUEGO ADENTRO  ////////////////// */
#gameCanvas {
top: 0;
left: 0;
width: 0;
position: absolute;
display: none; }
#firstP {
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #0B1E00;
position: absolute;
z-index: 1;
display: none; }
#hexagonGroup {
top: 0;
left: 0;
width: 100vw;
height: 100vh;	
position: absolute;
z-index: 1;
display: none; }
#fixedText {
position: fixed;
top: 5vh;
right: 5vw;
z-index: 999;
background-color: blue;
color: white;
padding: 10px;
border-radius: 5px;
font-size: 2vw;
max-width: 90%; }

/* ///////////// LOGOTIPO ////////////////// */
/* ///////////// LOGOTIPO ////////////////// */	
/* ///////////// LOGOTIPO ////////////////// */	
#topImage {
width: auto;
max-height: 100%;
z-index: -1; /* Para que esté detrás de otros elementos */
}   

/* ///////////// TEXT FIELD NICKNAME  ////////////////// */
/* ///////////// TEXT FIELD NICKNAME  ////////////////// */
/* ///////////// TEXT FIELD NICKNAME  ////////////////// */
#playerName {
box-sizing: border-box;
border: 1px solid #ccc;
padding: 10px;
font-size: 18px;
height: 40px;
text-align: center; 
border-radius: 5px; 
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
#playerName::placeholder {
text-align: center; 
color: #aaa;
}
#playerName:focus::placeholder {
color: #333;
}

/* ///////////// CAMERA OPTIONS AND RADIO BUTTONS  ////////////////// */
/* ///////////// CAMERA OPTIONS AND RADIO BUTTONS  ////////////////// */	
/* ///////////// CAMERA OPTIONS AND RADIO BUTTONS  ////////////////// */	
#cameraOptions {
display: flex;
justify-content: center;
z-index: -1;
font-weight: bold;
color: white;
}
#cameraOptions span {
color: white;
font-weight: bold;	
}
.radio-button {
display: flex;
align-items: center; 
position: relative;
margin: 0 10px;
}
.radio-button input {
display: none;
}
.radio-custom {
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid #ccc;
background-color: yellow; 
position: relative;
}
.radio-custom::after {
content: "";
display: block;
width: 10px;
height: 10px;
background-color: #666;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
}
.radio-label {
margin-left: 5px; /* Espacio entre el botón y la etiqueta */
font-size: 20px; /* Tamaño del texto */
color: #333;
}
.radio-button input:checked + .radio-custom::after {
opacity: 1;
}

/* ///////////// PLAY BUTTON  ////////////////// */
/* ///////////// PLAY BUTTON  ////////////////// */
/* ///////////// PLAY BUTTON  ////////////////// */
#submitButton, #skinButton {
padding: 10px 20px; 
font-size: 16px;
background-color: #04135a; 
color: white;
border: none; 
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
}
#submitButton:hover {
background-color: #2f2c79;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}	

/* ///////////// BUTTON CUSTOMIZE SKIN  ////////////////// */
/* ///////////// BUTTON CUSTOMIZE SKIN  ////////////////// */
/* ///////////// BUTTON CUSTOMIZE SKIN  ////////////////// */
#customPlayer, #closeSkin {
padding: 10px 20px; /* Ajusta el relleno según sea necesario */
font-size: 16px;
background-color: #cb9800; /* Color de fondo */
color: white; /* Color del texto */
border: none; /* Quita el borde */
border-radius: 5px; /* Añade bordes redondeados */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
transition: background-color 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */
}
#customPlayer:hover {
background-color: #ac9f41; /* Cambia el color de fondo al pasar el cursor */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Añade una sombra más pronunciada */
}

/* ///////////// GAME OVER BOX ////////////////// */
/* ///////////// GAME OVER BOX ////////////////// */	
/* ///////////// GAME OVER BOX ////////////////// */
#contentR {
text-align: center;
color: white;
font-family: Arial, sans-serif;
}
#retryBox {
display: flex;
visibility: hidden;
position: absolute;
width: 100%;
height: 100%;
background-color: black;
/*display: flex;*/
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
z-index: 999;	
}
#retryButton {
padding: 10px 20px; 
font-size: 16px;
background-color: #04135a; 
color: white;
border: none; 
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color 0.3s, box-shadow 0.3s;
}
#retryButton:hover {
background-color: #2f2c79;
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}	

/* ///////////// CENTER ALL ELEMENTS ////////////////// */	
/* ///////////// CENTER ALL ELEMENTS ////////////////// */	
/* ///////////// CENTER ALL ELEMENTS ////////////////// */		
.center-box {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
background-color: black;
}
.center-box > form > * {
margin: 10px 0;
}	
.container {
position: relative; /* Establece posición relativa */
}
form {
text-align: center; }
#svg-container {
width: 100vw;
height: 100vh;
overflow: auto;
touch-action: pinch-zoom; }

/* ///////////// CANVAS PAINT BOX ////////////////// */
/* ///////////// CANVAS PAINT BOX ////////////////// */	
/* ///////////// CANVAS PAINT BOX ////////////////// */	
#paintBox {
/* display: none;*/
display: none;
position: absolute; /* Posición absoluta */
background-color: red; /* Fondo rojo */
border-radius: 20px; /* Bordes redondeados */
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra */
overflow: hidden; /* Oculta el desbordamiento del iframe */
z-index: 999;
padding: 10px;
}		
#paintBox::before {
content: ""; /* Crea un pseudo-elemento */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(45deg, #000000, #ffd700); /* Degradado de negro a amarillo */
opacity: 0.8; /* Opacidad */
z-index: -1;	
}
#canvasContainer {
position: relative;
width: 300px; /* Ancho basado en la altura de la ventana */
height: 300px; /* Altura basada en la altura de la ventana */
margin: auto;
border: 1px solid black;
border-radius: 50%;
overflow: hidden;
}
#svgCanvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#undoButton, #redoButton, #fillButton, #clearButton {
padding: 5px 10px; /* Ajusta el relleno según sea necesario */
font-size: 12px;
background-color: #cb9800; /* Color de fondo */
color: white; /* Color del texto */
border: none; /* Quita el borde */
border-radius: 5px; /* Añade bordes redondeados */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
transition: background-color 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */        }
.shapeButton {
padding: 5px 10px; /* Ajusta el relleno según sea necesario */
font-size: 12px;
background-color: #cb9800; /* Color de fondo */
color: white; /* Color del texto */
border: none; /* Quita el borde */
border-radius: 5px; /* Añade bordes redondeados */
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra */
cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
transition: background-color 0.3s, box-shadow 0.3s; /* Agrega transiciones suaves */
}
/*#customPlayer:hover {
background-color: #ac9f41; 
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}*/
	
	


/* ///////////// BLUE POINT  ////////////////// */
/* ///////////// BLUE POINT  ////////////////// */
/* ///////////// BLUE POINT  ////////////////// */	
#bluePoint { display: none; }	
